<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header.ejs') %>
  </head>
  <body>
    <%- include('components/navbar.ejs') %>

    <!-- Hero Section -->

    <%- include('components/hero.ejs') %>

    <!-- trends Section -->

    <%- include('components/trends.ejs') %>

    <!-- Premium Section -->

    <%- include('components/premium.ejs') %>

    <!-- blog Section -->

    <section>
      <div class="container-sm">
        <div class="blog-section">
          <div class="section-title">
            <h4 class="display-6">
              Update your knowladge
              <span class="main-color">About music</span>
            </h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia,
              temporibus!
            </p>
          </div>

          <div class="blog-list">
            <div class="blog-item">
              <div class="blog-thumnail">
                <img src="#" alt="thumnail" />
              </div>
              <div class="card-body">
                <div class="blog-title">
                  <h3>Artikel pertama tentang musik</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laborum quam ad mollitia doloremque itaque quis aut! Eveniet
                    nostrum ducimus rem?
                  </p>
                </div>

                <div class="read-btn">
                  <span>Read article</span>
                  <i class="bx bx-up-arrow-alt"></i>
                </div>
              </div>
            </div>

            <div class="blog-item">
              <div class="blog-thumnail">
                <img src="#" alt="thumnail" />
              </div>
              <div class="card-body">
                <div class="blog-title">
                  <h3>Artikel pertama tentang musik</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laborum quam ad mollitia doloremque itaque quis aut! Eveniet
                    nostrum ducimus rem?
                  </p>
                </div>

                <div class="read-btn">
                  <span>Read article</span>
                  <i class="bx bx-up-arrow-alt"></i>
                </div>
              </div>
            </div>

            <div class="blog-item">
              <div class="blog-thumnail">
                <img src="#" alt="thumnail" />
              </div>
              <div class="card-body">
                <div class="blog-title">
                  <h3>Artikel pertama tentang musik</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laborum quam ad mollitia doloremque itaque quis aut! Eveniet
                    nostrum ducimus rem?
                  </p>
                </div>

                <div class="read-btn">
                  <span>Read article</span>
                  <i class="bx bx-up-arrow-alt"></i>
                </div>
              </div>
            </div>
            <div class="blog-item">
              <div class="blog-thumnail">
                <img src="#" alt="thumnail" />
              </div>
              <div class="card-body">
                <div class="blog-title">
                  <h3>Artikel pertama tentang musik</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laborum quam ad mollitia doloremque itaque quis aut! Eveniet
                    nostrum ducimus rem?
                  </p>
                </div>

                <div class="read-btn">
                  <span>Read article</span>
                  <i class="bx bx-up-arrow-alt"></i>
                </div>
              </div>
            </div>

            <div class="blog-item">
              <div class="blog-thumnail">
                <img src="#" alt="thumnail" />
              </div>
              <div class="card-body">
                <div class="blog-title">
                  <h3>Artikel pertama tentang musik</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laborum quam ad mollitia doloremque itaque quis aut! Eveniet
                    nostrum ducimus rem?
                  </p>
                </div>

                <div class="read-btn">
                  <span>Read article</span>
                  <i class="bx bx-up-arrow-alt"></i>
                </div>
              </div>
            </div>

            <div class="blog-item">
              <div class="blog-thumnail">
                <img src="#" alt="thumnail" />
              </div>
              <div class="card-body">
                <div class="blog-title">
                  <h3>Artikel pertama tentang musik</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laborum quam ad mollitia doloremque itaque quis aut! Eveniet
                    nostrum ducimus rem?
                  </p>
                </div>

                <div class="read-btn">
                  <span>Read article</span>
                  <i class="bx bx-up-arrow-alt"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->

    <%- include('components/footer.ejs') %>
  </body>

  <script src="/js/dom.js"></script>
</html>
