<%- include('partials/header.ejs') %>

    <h1>Kategori: <%= category %></h1>

    <div>
        <% for(let song of filteredSongs){ %>
            <div>
                <a href="/lirik/<%= song.id %>">
                    <h3> <%= song.title %> - <%= song.author %> </h3>
                </a>
            </div>
        <% } %>
    </div>

    <a href="/">Kembali</a>

<%- include('partials/footer.ejs') %>
